@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thesignature:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0 w-full;
}

*,
::before,
::after {
  border-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-width-container {
  @apply w-full;
}
